/* Import fonts from fonts.css file */
@import url(./fonts.css);

/* CSS Variables */
@import url(./partials/_variables.css);

body {
    font-family: var(--prompt);
    background-color: var(--bg-color);
    margin-top: 0;
  }

tbody {
    font: normal 400 14px/16px var(--prompt);
}

.alert{
    font: normal bold 14px/20px var(--prompt);
}

thead{
    font: normal bold 14px/20px var(--prompt);
   /* background-color: var(--bg-color);*/

}


/* start navigation */

.header_area .main_menu .navbar .navbar-brand{
    padding: 0 1rem 0 2rem;
}

.header_area .main_menu .navbar{
    padding: .5rem .3rem;
}

.header_area .main_menu .navbar .logout-bt a{
    margin-left: 1.2rem;
}

.header_area .main_menu .navbar .navbar-brand{
    font: normal bold 28px/2px var(--prompt);
  /*  color: var(--title-color); */
   /* text-shadow: 2px 2px 3px rgba(255, 94, 0, 0.35); */

}

.header_area .main_menu .nav-item .nav-link{
    font: normal 500 16px/1px var(--prompt);
    padding: 0.8rem 1rem 0.8rem 2rem;
}
